@charset "UTF-8";
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

img, video { max-width: 100%; height: auto; }

.post-date { font-size: 13px; font-size: 1.3rem; font-weight: 700; }

.flexslider { border: none; -moz-box-shadow: initial; -webkit-box-shadow: initial; box-shadow: initial; background: transparent; margin: 0; }
.flexslider .flex-control-nav { bottom: 14px; z-index: 2; }

img, media { max-width: 100%; height: auto; }

.pane-header { margin-bottom: 1em; }
.pane-header h2 { margin-bottom: 0; }
.pane-header .pane-subtitle { font-size: 26px; font-size: 2.6rem; font-weight: 300; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "proxima-nova", sans-serif; font-weight: 700; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0 0 .5em; }

h1, .h1 { font-size: 32px; font-size: 3.2rem; }

h2, .h2 { font-size: 26px; font-size: 2.6rem; }

h3, .h3 { font-size: 24px; font-size: 2.4rem; }

h4, .h4 { font-size: 22px; font-size: 2.2rem; }

h5, .h5 { font-size: 20px; font-size: 2rem; }

h6, .h6 { font-size: 18px; font-size: 1.8rem; }

p, ol, ul, blockquote, pre, code { line-height: 1.5; margin: 0 0 1em; }

a { text-decoration: none; color: #2476AE; }

.tabs--primary { margin: 1em 0 0; }

.pane-ovpred-common-ovpred-business-services ul { margin: 0; padding: 0; }
.flexbox .pane-ovpred-common-ovpred-business-services ul { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.pane-ovpred-common-ovpred-business-services ul li { list-style: none; text-align: center; padding: .3em; background: #f5f5f5; }
.pane-ovpred-common-ovpred-business-services ul li:nth-child(even) { background: #e1e1e1; }

.pane-ovpred-common-ovpred-business-services ul { margin: 0; padding: 0; }
.flexbox .pane-ovpred-common-ovpred-business-services ul { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.pane-ovpred-common-ovpred-business-services ul li { list-style: none; text-align: center; padding: .3em; background: #f5f5f5; }
.pane-ovpred-common-ovpred-business-services ul li:nth-child(even) { background: #e1e1e1; }

.front .pane-localist-pane span { display: block; }
.front .pane-localist-pane .lw ul { margin: 0; padding: 0; }
.front .pane-localist-pane .lwe { list-style: none; padding: 1em; margin-bottom: 1em; text-align: center; background: #f9f9f9; border: 1px solid #efefef; }
.front .pane-localist-pane .lwn0 { font-family: "proxima-nova", sans-serif; font-weight: 700; font-size: 14px; font-size: 1.4rem; text-transform: uppercase; margin-bottom: .5em; display: block; background: #333; color: #fee000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding: .3em; }
.front .pane-localist-pane .lwn0:before, .front .pane-localist-pane .lwn0:after { content: "\2014"; margin: 0 .5em; position: relative; top: -2px; }
.front .pane-localist-pane .lwl { font-size: 14px; font-size: 1.4rem; }
.front .pane-localist-pane .lwl0 { height: 20px; text-align: center; line-height: 999px; overflow: hidden; display: block; margin-top: 1em; margin-bottom: .5em; }
.front .pane-localist-pane .lwl0:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; font-size: 20px; font-size: 2rem; display: block; line-height: normal; color: #888; }

.breadcrumb { font-size: 13px; font-size: 1.3rem; font-weight: 700; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.breadcrumb li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.breadcrumb .breadcrumb-seperator { margin: 0 .3em; }

.sf-menu li ul { overflow: visible !important; }

#block-superfish-1 .block__title { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
#block-superfish-1 li, #block-superfish-1 a { -moz-transition: background-color, 0.3s; -o-transition: background-color, 0.3s; -webkit-transition: background-color, 0.3s; transition: background-color, 0.3s; }

#block-superfish-1 { font-weight: 400; }
#block-superfish-1 .sf-style-none { float: left; margin: 0; padding: 0; }
#block-superfish-1 .sf-style-none.sf-navbar { width: 100%; background: transparent; }
#block-superfish-1 .sf-style-none ul { padding-left: 0; }
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper { background: #e0e0e0; }
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper li { background: transparent; }
#block-superfish-1 .sf-style-none a { color: #333; padding: 0.75em 1em; }
#block-superfish-1 .sf-style-none a.sf-with-ul { padding-right: 2.25em; }
#block-superfish-1 .sf-style-none a:focus { background: #fffce5; outline: 0; }
#block-superfish-1 .sf-style-none a:hover { background: #fffce5; outline: 0; }
#block-superfish-1 .sf-style-none a:active { background: #fffce5; outline: 0; }
#block-superfish-1 .sf-style-none span.nolink { color: #333; padding: 0.75em 1em; }
#block-superfish-1 .sf-style-none span.nolink.sf-with-ul { padding-right: 2.25em; }
#block-superfish-1 .sf-style-none span.nolink:hover { background: #e0e0e0; outline: 0; }
#block-superfish-1 .sf-style-none span.sf-description { color: #333; display: block; font-size: 0.833em; line-height: 1.5; margin: 5px 0 0 5px; padding: 0; }
#block-superfish-1 .sf-style-none.rtl span.sf-description { margin: 5px 5px 0 0; }
#block-superfish-1 .sf-style-none.rtl span.nolink.sf-with-ul { padding-left: 2.25em; padding-right: 1em; }
#block-superfish-1 .sf-style-none.rtl a.sf-with-ul { padding-left: 2.25em; padding-right: 1em; }
#block-superfish-1 .sf-style-none li { background: transparent; }
#block-superfish-1 .sf-style-none li li { background: #f9f9f9; }
#block-superfish-1 .sf-style-none li li li { background: #ececec; }
#block-superfish-1 .sf-style-none li li li li { background: #e0e0e0; }
#block-superfish-1 .sf-style-none li:hover, #block-superfish-1 .sf-style-none li.sfHover { background: #fff9cb; outline: 0; }
#block-superfish-1 .sf-style-none li:hover > ul, #block-superfish-1 .sf-style-none li.sfHover > ul { top: 38px; }
#block-superfish-1 .sf-style-none li:hover > ul ul, #block-superfish-1 .sf-style-none li.sfHover > ul ul { top: 0; }
#block-superfish-1 .sf-style-none .sf-sub-indicator { top: .9em; right: 1em; }
#block-superfish-1 .sf-style-none .sf-sub-indicator { background-image: none; height: 15px; text-align: center; }
#block-superfish-1 .sf-style-none .sf-sub-indicator:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; text-indent: 0; display: block !important; position: relative; top: 2px; }
#block-superfish-1 .sf-style-none .sf-depth-1 > .sf-sub-indicator:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; top: -3px; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a { background: transparent; color: #333; padding: 1em; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a.sf-expanded { background-color: #e0e0e0; font-weight: bold; }
#block-superfish-1 div.sf-accordion-toggle span { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li a { padding-left: auto; padding-right: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li a { padding-left: auto; padding-right: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li a { padding-left: auto; padding-right: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li a { padding-left: auto; padding-right: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink { padding-left: auto; padding-right: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink { padding-left: auto; padding-right: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink { padding-left: auto; padding-right: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink { padding-left: auto; padding-right: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column { float: right; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded { background-color: #e0e0e0; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > a { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li a { padding-left: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li a { padding-left: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li a { padding-left: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li a { padding-left: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li span.nolink { padding-left: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li span.nolink { padding-left: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li span.nolink { padding-left: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li span.nolink { padding-left: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button { font-weight: bold; position: absolute; right: 0; top: 0; z-index: 499; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol { margin: 0; padding: 0; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li { margin: 0; padding: 0; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column { display: inline; float: left; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent { font-weight: bold; }

#block-superfish-1 { font-size: 15px; font-size: 1.5rem; font-weight: 600; max-width: 1200px; margin: 0 auto; }
#block-superfish-1 ul { line-height: 1; }
#block-superfish-1 .sf-style-none { float: none; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; *zoom: 1; }
#block-superfish-1 .sf-style-none:after { content: ""; display: table; clear: both; }
#block-superfish-1 .sf-depth-1 > a { text-transform: uppercase; }
#block-superfish-1 #superfish-1-toggle { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; text-align: center; }
#block-superfish-1 .sf-expanded > .sf-accordion-button:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; }
#block-superfish-1 .sf-accordion-button { line-height: 999px; overflow: hidden; height: 38px; width: 38px; text-align: center; padding: 0 !important; }
#block-superfish-1 .sf-accordion-button:before { line-height: normal; display: block !important; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; font-size: 17px; font-size: 1.7rem; width: 100%; height: 100%; line-height: 35px !important; }
#block-superfish-1 .sf-with-ul { padding-left: 40px; }

.l-footer { background: #222; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding: 2em 0; }
.l-footer a { color: #fff; }
.l-footer .block { margin-bottom: 1em; }
.l-footer .block--ovpred-blocks-ovpred-social .block__content a { display: block; }
.l-footer .block--ovpred-blocks-ovpred-social .block__content a:before { margin-right: 5px; font-size: 24px; font-size: 2.4rem; }
.l-footer .block--ovpred-blocks-ovpred-social .ovpred-youtube:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; }
.l-footer .block--ovpred-blocks-ovpred-social .ovpred-twitter:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; }

.front .panel-pane { padding-top: 2em; padding-bottom: 2em; }
.front .pane-articles-article-pane-feature-and-news { background: #f9f9f9; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; }
.front .pane-articles-article-pane-feature-and-news .view-display-id-article_pane_feature_and_news { *zoom: 1; }
.front .pane-articles-article-pane-feature-and-news .view-display-id-article_pane_feature_and_news:after { content: ""; display: table; clear: both; }
.front .pane-articles-article-pane-feature-and-news .view-display-id-article_pane_feature_and_news > .view-content { *zoom: 1; }
.front .pane-articles-article-pane-feature-and-news .view-display-id-article_pane_feature_and_news > .view-content:after { content: ""; display: table; clear: both; }
.front .pane-featured-content-featured-secondary { background: #f9f9f9; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; }
.front .pane-featured-content-featured-secondary .pane-title { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.front .pane-featured-content-featured-secondary .view-display-id-featured_secondary .view-content { *zoom: 1; }
.front .pane-featured-content-featured-secondary .view-display-id-featured_secondary .view-content:after { content: ""; display: table; clear: both; }
.front .pane-featured-content-featured-secondary .view-display-id-featured_secondary h3 { font-size: 18px; font-size: 1.8rem; font-weight: 400; }
.front .pane-featured-content-featured-secondary .view-display-id-featured_secondary .field--name-field-feature-image img { width: 100%; }

.l-header { background-color: #2a2a2a; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-box-shadow: 0px -60px 80px -30px rgba(0, 0, 0, 0.3) inset; -webkit-box-shadow: 0px -60px 80px -30px rgba(0, 0, 0, 0.3) inset; box-shadow: 0px -60px 80px -30px rgba(0, 0, 0, 0.3) inset; position: relative; color: #333; text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.3); -moz-box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1); z-index: 4; }
.l-header a { color: #333; }

.site-name { font-size: 22px; font-size: 2.2rem; margin: 0; }

.l-branding { text-align: center; width: 100%; padding: 1em; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZWUwMDAiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2VmZDMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #fee000), color-stop(70%, #efd300)); background-image: -moz-linear-gradient(#fee000 30%, #efd300 70%); background-image: -webkit-linear-gradient(#fee000 30%, #efd300 70%); background-image: linear-gradient(#fee000 30%, #efd300 70%); }

.l-region--navigation { width: 100%; border-top: 1px solid #d0b800; -moz-box-shadow: 0px 1px 0px #ffe419 inset; -webkit-box-shadow: 0px 1px 0px #ffe419 inset; box-shadow: 0px 1px 0px #ffe419 inset; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZDcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhY2UwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4d700), color-stop(100%, #eace00)); background-image: -moz-linear-gradient(#f4d700, #eace00); background-image: -webkit-linear-gradient(#f4d700, #eace00); background-image: linear-gradient(#f4d700, #eace00); }

html { font-size: 62.5%; }

body { font-family: "proxima-nova", sans-serif; font-size: 1.8em; color: #453D36; }

.l-page { margin: 0 auto; }

.l-breadcrumb { background-color: #199F86; padding: 1em 0; color: #fff; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); }
.l-breadcrumb a { color: #fff; }

.l-main { padding: 2em 0; }
.front .l-main { padding: 0; }

.l-container { margin: 0 auto; max-width: 1200px; padding-left: 1em; padding-right: 1em; }

.tabs--primary { margin-bottom: 1em; }

.node--article--feature { max-width: 500px; margin: 0 auto; margin-bottom: 1em; }
.node--article--feature h3 { font-size: 18px; font-size: 1.8rem; font-weight: 400; }
.node--article--feature .field--name-field-article-image { max-height: 200px; overflow: hidden; margin-bottom: 3px; }
.node--article--feature .field--name-field-article-image img { width: 100%; }

.node--article--list h3 { margin: 0; }
.node--article--list h3 a { font-weight: 400; font-size: 18px; font-size: 1.8rem; border-bottom: 1px solid #efefef; padding-bottom: .5em; margin-bottom: .5em; display: block; }

.node--article--teaser { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 4px solid #eee; }
.node--article--teaser .node-readmore a { padding: .3em 1em; background-color: #2476AE; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 14px; font-size: 1.4rem; font-weight: 700; }

.node--featured-content--feature { max-height: 450px; overflow: hidden; position: relative; }
.node--featured-content--feature .slider-caption { position: absolute; bottom: 20px; left: 20px; }
.node--featured-content--feature a { display: block; }
.node--featured-content--feature h2, .node--featured-content--feature .field--name-field-feature-caption { padding: 10px 20px; }
.node--featured-content--feature h2 { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; background: url('../images/rgbapng/000000bf-5.png?1410183799'); background: rgba(0, 0, 0, 0.75); font-weight: 300; margin-bottom: 3px; color: #fff; }
.node--featured-content--feature .field--name-field-feature-caption { max-width: 600px; background: url('../images/rgbapng/ffffffbf-5.png?1411056452'); background: rgba(255, 255, 255, 0.75); font-size: 15px; font-size: 1.5rem; }

.node--featured-content--teaser { max-width: 500px; margin: 0 auto; margin-bottom: 1em; }

.node--job--teaser { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 4px solid #eee; }
.node--job--teaser .node-readmore a { padding: .3em 1em; background-color: #2476AE; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 14px; font-size: 1.4rem; font-weight: 700; }
