.page-business {
  .l-main {
    padding-bottom: 0;
  }

  .panel-pane {
    margin-bottom: 0;
    padding: 2em 0 ;
  }
}

.pane-articles-article-pane-testimonial {
  $bp-float-testimonial-image: 500px;
  $bp-float-testimonials: 950px;

  @include breakpoint($bp-float-testimonials) {
    .no-flexbox & {
      @include views-row-grid(2);
    }

    .view-content {
      .flexbox & {
        @include flexbox;
        margin: 0 -10px;

        .views-row {
          @include flex(1 1 400px);
          margin: 10px;
        }
      }
    }
  }

  .field--name-field-article-image {
    @include breakpoint($bp-float-testimonial-image) {
      float: right;
      margin-left: 20px;
      max-width: 250px;
    }
  }
}

.pane-articles-article-pane-feature {
  @include views-row-grid(4);
}

#twitter-widget-0 {
  width: 100% !important;
}

.pane-ovpred-units {
  ul {
    margin: 0 -2px;
    padding: 0;

    .flexbox & {
      @include flexbox;
      @include flex-wrap(wrap);
    }

    li {
      list-style: none;
      text-align: center;
      line-height: 1;
      @include flex(1 1 250px);
      margin: 2px;
      background-color: $snow;
      border: 1px solid darken($snow, 4);
      max-height: 100px;

      a {
        display: block;
      }

      img {
        padding: .5em;
        max-height: 100%;
      }
    }
  }
}
