.pane-articles-article-pane-testimonial {
  $bp-float-testimonial-image: 500px;
  $bp-float-testimonials: 950px;

  @include breakpoint($bp-float-testimonials) {
    .no-flexbox & {
      @include grid(2, ".view-content", ".views-row");
    }

    .view-content {
      .flexbox & {
        @include flexbox;
        margin: 0 -10px;

        .views-row {
          @include flex(1 1 400px);
          margin: 10px;
        }
      }
    }
  }

  .field--name-field-article-image {
    @include breakpoint($bp-float-testimonial-image) {
      float: right;
      margin-left: 20px;
      max-width: 250px;
    }
  }
}

.pane-articles-article-pane-feature {
  @include grid(4, ".view-content", ".views-row");
}

#twitter-widget-0 {
  width: 100% !important;
}

.pane-ovpred-units {
  ul {
    padding: 0;

    li {
      list-style: none;
      text-align: center;
      line-height: 1;
      background-color: $snow;
      border: 1px solid darken($snow, 4);


      a {
        display: block;
      }

      img {
        padding: .5em;
        max-height: 100px;
      }
    }
  }

  .flexbox & {
    ul {
      margin: 0 -2px;
      @include flexbox;
      @include flex-wrap(wrap);
    }
    li {
      @include flex(1 1 250px);
      margin: 2px;
    }
  }

  .no-flexbox & {
    @include breakpoint(950px) {
      @include grid(4, "ul", "li");
      @include add-gutter(1/10);

      li {
        margin-bottom: 1em;
      }
    }
  }
}
