.block--ovpred-common-ovpred-business-services,
.pane-ovpred-common-ovpred-business-services {
  .pane-title {
    @include offscreen;
  }

  ul {
    margin: 0 -1px;
    padding: 0;

    .flexbox & {
      @include flexbox;
      @include flex-wrap(wrap);
    }

    li {
      list-style: none;
      text-align: center;
      line-height: 1;
      @include flex(1 1 250px);
      margin: 1px;

      a {
        display: block;
        padding: 1.3em 1em 1em;
        @include font-size(1.4);
        color: #fff;
        @include font-smoothing;
        @include text-shadow(1px 1px 0px rgba(0,0,0,.2));
        background-color: #333;
      }
    }
  }

  .consultant {
  }
  .start {
  }
  .recruit {
  }
  .professional-development {
  }
  .relocate {
  }
  .licensing {
  }
  .mentor {
  }
  .technology {
  }
}
