.pane-localist-pane {
  span {
    display: block;
  }

  .lw ul {
    margin: 0;
    padding: 0;

    .flexbox & {
      @include breakpoint($bp-tablet) {
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(space-between);

        li {
          width: 49%;
        }
      }
    }

    li {
      list-style: none;
      background: #eee;
      padding: 1em;
      margin-bottom: 1em;
    }
  }
}
