.l-region--hero {
  line-height: 0;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include box-shadow(0px 10px 20px -5px rgba(0, 0, 0, 0.9) inset, 0px -3px 14px rgba(0, 0, 0, 0.2) inset);

  }

  img {
    width: 100%;
    line-height: 0;
  }

  .l-container {
    position: relative;
    padding: 0;
  }

  .hero-title {
    line-height: normal;
    max-width: $page-max-width;
    margin: 0 auto;
    display: block;
    background: #272727;
    @include rgba-background(rgba(0,0,0,.6));
    color: #fff;
    padding: 10px 20px;
    @include font-smoothing;
    position: absolute;
    bottom: 0;
    width: 100%;

    @include breakpoint(860px) {
      width: auto;
      bottom: 25px;
      left: 1em;
      max-width: 70%;
      @include rgba-background(rgba(#000, .55));
      border: 3px solid #fff;
      @include font-size(3.2);
    }

    @include breakpoint($page-max-width + 10px) {
      bottom: 80px;
      left: 0;
    }
  }
}
