.style-2 {
  background: #eee;
  padding: 2em;

  .pane-title {
    @include font-size(4);
    // text-transsform: uppercase;
    position: relative;
    // font-family: $base-font-stack;
    // text-align: center;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      border-bottom: 3px solid $color-1;
      width: 30%;
    }
  }
}

.style-1 {
  background: $color-2;
  padding: 2em;
  color: #fff;
  @include text-shadow(1px 1px 0px rgba(0,0,0,.1));
  @include font-smoothing;

  .pane-title {
    @include font-size(4);
    // text-transsform: uppercase;
    position: relative;
    // font-family: $base-font-stack;
    // text-align: center;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      border-bottom: 3px solid #fff;
      width: 30%;
    }
  }
}
