// Grid assignments and global pane config for featured content secondary.
.pane-featured-content-featured-secondary,
.pane-featured-content-featured-business-primary {
  $bp-float-rows: 950px;

  .view-featured-content {

    .view-content {
      @include pie-clearfix;
      @include add-grid(12);
      @include add-gutter(1/3);
    }

    .views-row {
      @include breakpoint($bp-float-rows) {
        @include float-span(4);

        &:nth-child(3n) {
          @include float-span(4, 'last');
        }
      }
    }

    h3 {
      @include font-size($base-font-size);
      font-weight: $fw-normal;
    }

    .field--name-field-feature-image {
      img {
        width: 100%;
      }
    }
  }
}
