$spacer-unit: 20px;
$page-max-width: 1200px;
$mobile-padding: 0 1em;
$bp-sf-is-expanded: 768px;

$bp-small-mobile: 320px;
$bp-mobile: 500px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-desktop-large: $page-max-width;
