// http://accessibility.oit.ncsu.edu/tools/color-contrast/accessible-color-palette.php?&colors=ECD078,D95B43,C02942,542437,53777A,FFFFFF,333333&main=FFFFFF&level=AA

// Functional Color Vars
$primary-link-color: #2476AE;
$base-font-color: #453D36;

$link-color-on-darkturquise: #1F3040;
// Colors
$darkslategray: #1f253d;
$lightslategray: #798099;
$darkturquoise: #17A6A0;
$snow: #f9f9f9;
$indianred: #e85e74;
$sandybrown: #fcb150;

$yellow-gold: #fee000;

// Color Vars
// $color-1: $pink;
// $color-2: $purple;
// $color-3: $yellow;
