// http://accessibility.oit.ncsu.edu/tools/color-contrast/accessible-color-palette.php?&colors=ECD078,D95B43,C02942,542437,53777A,FFFFFF,333333&main=FFFFFF&level=AA

// Functional Color Vars
$primary-link-color: #2476AE;
$base-font-color: #453D36;
$link-hover-color: #666666;

$light-gray-valid-contrast: #717171;
$snow: #f9f9f9;
$yellow-gold: #fee000;

// Custom Color Palette
$floralwhite: #FFFAF2;
$oldlace: #FFF5E6;
$aliceblue: #F2F8FF;
