$san-serif: "proxima-nova",sans-serif;

$ovpr-font-stack: "akzidenz-grotesk-condensed",sans-serif;
$base-font-stack: $san-serif;
$header-font-stack: $san-serif;

$base-font-size: 1.8;

// Weights
$fw-normal: 400;
$fw-bold: 700;
$fw-semi-bold: 600;
$fw-light: 300;
$fw-extra-bold: 800;

$fw-ovpr: 500;

// Sizes
$fs-xsmall: 1.3;
