.panel-pane .l-container {
  padding: 1em;
}

.pane-header {
  margin-bottom: 2em;

  h2 {
    margin-bottom: 0;
  }

  .pane-subtitle {
    @include font-size(2.6);
    font-weight: $fw-light;
  }
}
