.node--article--testimonial {
  h3 {
    margin: 0;

    a {
      display: block;
      background: #333;
      padding: 5px 10px;
      color: #bbbbbb;
    }
  }

  .node__content {
    padding: 1em;
    @include rgba-background(rgba(255,255,255,.7));
    @include border(4px, bottom);
    @include border(4px, right);
    @include border(4px, left);
  }
}
