.node--article--feature {
  padding: 3px;

  p:last-child {
    margin-bottom: 0;
  }

  .post-date {
    background: darken($darkturquoise, 2%);
    padding: .3em 1em;
    text-align: center;
  }

  .field--name-field-article-image {
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 3px;

    img {
      width: 100%;
    }
  }

  .article-content {
    padding: 1em;
  }
}
