.l-footer {
  background: #222;
  color: #fff;
  @include font-smoothing;
  padding: 2em 0;

  a {
    color: #fff;
  }

  .block {
    margin-bottom: 1em;
  }


  // Blocks
  .block--ovpred-blocks-ovpred-social {
    .block__content a {
      display: block;

      &:before {
        margin-right: 5px;
        @include font-size(2.4);
      }
    }

    .ovpred-youtube:before {
      @include icon($fa-var-youtube);
    }
    .ovpred-twitter:before {
      @include icon($fa-var-twitter);
    }
  }
}
