.front {

  .panel-pane {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .pane-articles-article-pane-feature-and-news {
    background: $darkturquoise;
    color: #fff;
    @include font-smoothing;
    a {
      color: $link-color-on-darkturquise;
    }
  }

  .pane-localist-pane {
    background: $snow;

    .lwe {
      font-family: $header-font-stack;
      text-align: center;
      @include rgba-background(rgba(255,255,255,.5));
      border: 3px solid #eee;
      @include border-radius(3px);
    }

    .lwn0 {
      font-family: $base-font-stack;
      font-weight: $fw-bold;
      @include font-size(1.4);
      text-transform: uppercase;
      margin-bottom: .5em;
      display: block;
      background: $darkturquoise;
      color: #fff;
      @include font-smoothing;
      padding: .3em;

      &:before,
      &:after {
        content: "\2014";
        margin: 0 .5em;
        position: relative;
        top: -2px;
      }
    }

    .lwl {
      @include font-size(1.4);
    }

    .lwl0 {
      height: 20px;
      text-align: center;
      line-height: 999px;
      overflow: hidden;
      display: block;
      margin-top: 1em;
      margin-bottom: .5em;

      &:before {
        @include icon($fa-var-map-marker);
        @include font-size(2);
        display: block;
        line-height: normal;
      }
    }
  }

  .node--article--list h3 a {
    border-color: darken($darkturquoise, 5%);
  }

  .view-display-id-article_pane_feature_and_news {
    $bp-floated-footer-view: 960px;
    $bp-floated-feature-articles: 650px;

    @include pie-clearfix;
    @include add-grid(12);
    @include add-gutter(1.5em);

    > .view-content {

      @include breakpoint($bp-floated-footer-view) {
        @include grid-span(8, 1);
      }

      @include breakpoint($bp-floated-feature-articles) {
        .flexbox & {
          @include flexbox;
          @include flex-wrap(wrap);
          @include justify-content(space-between);
        }
      }

      .views-row {
        // @include feature-box(
        //   $border-color: #{darken($darkturquoise, 5%)},
        //   $bg-color: #ffffff,
        //   $bg-rgba: "true",
        //   $bg-opacity: .15,
        //   $pull-items: #{field--name-field-article-image, post-date}
        // );
        margin-bottom: 1em;

        border: 1px solid darken($darkturquoise, 5%);
        @include border-radius(2px);
        @include rgba-background(rgba(255,255,255,0.15));

        @include breakpoint($bp-floated-feature-articles) {
          .flexbox & {
            width: 48.5%;
          }
        }
      }
      .views-row-first {
        .flexbox & {
          width: 100%;
        }
      }
    }

    > .view-footer {
      @include breakpoint($bp-floated-footer-view) {
        @include grid-span(4, 9);
      }
    }
  }

  .pane-featured-content-featured-secondary {
    @include pie-clearfix;
    @include add-grid(12);
    @include add-gutter(1.5em);

    .view-content {
        @include breakpoint(900px) {
          .flexbox & {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(flex-end);
          }
        }

      .views-row {
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 1em;

        @include breakpoint(900px) {
          .flexbox & {
            width: 32%;
          }
          .no-flexbox & {
            @include float-span(4);
          }
        }
      }
    }

    h3 {
      @include font-size(1.6);
    }

    .field--name-field-feature-image {
      img {
        width: 100%;
      }
    }
  }
}

