html {
  font-size: 62.5%;
}

body {
  font-family: $base-font-stack;
  font-size: 1.8em;
  color: $base-font-color;
}

.element-invisible {
  @include element-invisible;
}

.page-title {
  border-bottom: 8px solid #f5f5f5;
  padding-bottom: .5em;
  margin-bottom: .7em;
}

.l-page {
  margin: 0 auto;
}

.l-region--slideshow {
  border-bottom: 1px solid darken($snow, 4);
}

.l-breadcrumb {
  background-color: #199F86;
  padding: 1em 0;
  color: #fff;
  @include text-shadow(1px 1px 0px rgba(0,0,0,.1));

  a {
    color: #fff;
  }
}

.l-main {
  padding: 2em 0;

  .front & {
    padding: 0;
  }
}

.l-container {
  margin: 0 auto;
  max-width: $page-max-width;
  padding-left: 1em;
  padding-right: 1em;
}

.tabs--primary {
  margin-bottom: 1em;
}
