html {
  font-size: 62.5%;
}

body {
  font-family: $base-font-stack;
  font-size: 1.8em;
  color: $base-font-color;
}

.l-page {
  margin: 0 auto;
}

.l-breadcrumb {
  background-color: #199F86;
  padding: 1em 0;
  color: #fff;
  @include text-shadow(1px 1px 0px rgba(0,0,0,.1));

  a {
    color: #fff;
  }
}

.l-main {
  margin: 0 auto;
  max-width: $page-max-width;
  padding: 2em 0;
  @include pie-clearfix;

  .l-content {
    padding-left: 1em;
    padding-right: 1em;

    .panelized &,
    .front & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .panelized & {
    max-width: 100%;
  }

  .front & {
    padding: 0;
    max-width: 100%;
  }
}

.l-container {
  margin: 0 auto;
  max-width: $page-max-width;
  padding-left: 1em;
  padding-right: 1em;
}

.tabs--primary {
  margin-bottom: 1em;
}
