.pane-ovpred-researcherlinks {

  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      list-style: none;
      margin-bottom: 1em;

      a {
        display: block;

        &:before {
          display: block;
          @include font-size(4);
          color: $base-font-color;
        }
      }
    }
  }

  .description {
    display: block;
    font-style: italic;
    @include font-size(1.4);
  }

  .guide:before {
    @include icon($fa-var-send);
  }
  .funding:before {
    @include icon($fa-var-shield);
  }
  .myresearchportal:before {
    @include icon($fa-var-shopping-cart);
  }
  .commercialize:before {
    @include icon($fa-var-taxi);
  }

  // Grids
  @include breakpoint($bp-mobile ($bp-tablet - 1px)) {
    @include grid(2, ul, li);
  }
  @include breakpoint($bp-tablet) {
    @include grid(4, ul, li);
  }
}

.pane-ovpred-researchercompliance {
  $bp-float-image: 950px;
  $bp-links-2-col: 600px;

  img {
    display: block;
    margin: 0 auto 1em;
  }

  .description {
    display: block;
    margin-bottom: 1em;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      list-style: none;

      a {
        display: block;
        margin-bottom: .3em;
        padding-bottom: .3em;
        border-bottom: 1px solid darken($snow, 6);
      }
    }
  }

  @include breakpoint($bp-links-2-col) {
    ul {
      @include column-count(2);
      @include column-gap(2em);
    }
  }

  @include breakpoint($bp-float-image) {
    .l-container {
      @include pie-clearfix;
      @include add-grid(12);
      @include add-gutter(1);
    }

    .pane-header {
      @include grid-span(6, 1);
    }

    img {
      @include isolation-span(6, 7);
    }

    .description {
      @include isolation-span(6, 1, 'left');
    }

    ul {
      @include isolation-span(6, 1, 'left');
    }
  }
}

.pane-ovpred-researcherprofdev {
  $bp-float-panes: $bp-tablet;

  .events > a {
    @include btn;
  }

  @include breakpoint($bp-float-panes) {
    .l-container {
      @include pie-clearfix;
      @include add-grid(12);
      @include add-gutter(1);

      .info {
        @include grid-span(6, 1);
      }

      .events {
        @include grid-span(6, 7);
      }
    }
  }
}
