.view-display-id-featured_primary_block {

  article {
    max-height: 450px;
    overflow: hidden;
    position: relative;
  }

  .flex-control-nav {
    bottom: 14px;
    z-index: 2;
  }

  .slider-caption {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }

  a {
    display: block;
  }

  h2,
  .field--name-field-feature-caption {
    padding: 10px 20px;
  }

  h2 {
    @include inline-block;
    @include rgba-background(rgba(0,0,0,0.75));
    font-weight: $fw-light;
    margin-bottom: 3px;
  }

  .field--name-field-feature-caption {
    max-width: 600px;
    @include rgba-background(rgba(255,255,255,0.75));
    @include font-size(1.5);
  }

}
